*~
[#]*
*.la
*.o
*.lo
.deps

/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/clutter-md2.pc

/clutter-md2/clutter-md2-version.h
/clutter-md2/Makefile.in
/clutter-md2/Makefile

